<div class="">
  <form name="form" #f="ngForm"(submit)="onSubmit(f)">
    <label for="">Lot Address : </label>
    <input type="number" [(ngModel)]="vehicleLot" name="vehicleLot">
    <label for="">Vehicle Number : </label>
    <input type="number" [(ngModel)]="vehicleNumber" name="vehicleNumber">
    <label for="">Parking Duration (In Mins) : </label>
    <input type="number" (keyup)="calculateAmount($event)" [(ngModel)]="vehicleDuration" name="vehicleDuration">
    <label for="">Amount : </label>
    <input type="number" [(ngModel)]="vehicleAmount" name="vehicleAmount">
    <input type="submit" name="" value="ParkNow">
  </form>
  <span class="errors" *ngIf="errorAlert">
    <p class="error">{{error_message}}</p>
  </span>
  <hr>
  <h1>Parked vehicle Report</h1>
  <hr>
  <table>
    <thead>
      <th><strong>ID</strong></th>
      <th><strong>Lot</strong></th>
      <th><strong>Vehicle Number</strong></th>
      <th><strong>Duration</strong></th>
      <th><strong>Amount</strong></th>
    </thead>
    <tbody>
      <tr *ngFor="let parking of lstParkinglot">
        <td>{{parking.id}}</td>
        <td>{{parking.lot}}</td>
        <td>{{parking.vehicleNumber}}</td>
        <td>{{parking.parkingDuration}}</td>
        <td>{{parking.parkingAmount}}</td>
      </tr>
    </tbody>
  </table>

</div>
